.icon-size {
  font-size: 30px;
}
.success {
  color: #00c073;
  cursor: pointer;
}
.success:hover {
  text-shadow: 2px 2px 2px #056b42;
}
.close1 {
  color: #ff4b46 !important;
  cursor: pointer;
}
.close1:hover {
  text-shadow: 1px 1px 1px rgb(112, 17, 17);
}
